<a href="https://colab.research.google.com/github/YuvrajShekhar/Algorithmic-Toolbox/blob/master/Attack_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from pickle import dump

import seaborn as sns

In [ ]:
rec = pd.read_csv('./recon.csv')

In [ ]:
rec.head()

   headerLen  IPSize  ip.tot_len  ... TCPDstPort TCPFlags  Detection
0         68      52          52  ...      443.0     17.0          2
1         68      52          52  ...      443.0     16.0          2
2         68      52          52  ...    42250.0     17.0          2
3        128     569         569  ...      443.0     24.0          2
4        128    1470        1470  ...    42266.0     16.0          2

[5 rows x 12 columns]